{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Order Details</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product Name</th>
							<th>Price</th>
							<th>description</th>
							<th>category</th>
						</tr>
						{% for data in products %}
						<tr>
							<td>{{data.product_name}}</td>
							<td>{{data.price}}</td>
							<td>{{data.description}}</td>
							<td>{{data.date_created}}</td>

							{% endfor %}
						</tr>
								
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}